actividad5_GBD/compras.dtd

<!ELEMENT sales (sale*)>
<!ELEMENT sale (article*)>
<!ATTLIST sale
  id ID #REQUIRED
  timeStamp CDATA #IMPLIED
  amount CDATA #IMPLIED
  delivered CDATA #IMPLIED
  gift CDATA #IMPLIED
  valid CDATA #IMPLIED
  cliente CDATA #IMPLIED
>
<!-- -->
<!ELEMENT article (#PCDATA)>
<!ATTLIST article
  id ID #REQUIRED
  name CDATA #IMPLIED
  price CDATA #IMPLIED
>